@page
@model Student_Management_Client.Pages.Admin.Subjects.IndexModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    var majors = ViewData["MajorSelectList"] as SelectList;
    var terms = ViewData["TermSelectList"] as SelectList;
}


<div class="row d-flex">

    <div class="col-md-12">
        <a class="btn btn-outline-success float-end">Add new</a>
    </div>
    <div class="col-12">
        <form method="get">
            <div class="form-group">
                <label for="SelectedMajorId">Major</label>
                <select asp-for="SelectedMajorId" class="form-control" asp-items="majors"></select>
            </div>
            <div class="form-group">
                <label for="SelectedTerm">Term</label>
                <select asp-for="SelectedTerm" class="form-control" asp-items="terms"></select>
            </div>
            <div class="form-group">
                <label for="SelectedName">Subject Name</label>
                <input type="text" asp-for="SelectedName" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <button type="button" class="btn btn-secondary" onclick="resetForm()">Refresh</button>
        </form>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Subject Code</th>
                    <th>Num of credit</th>
                    <th>Subject Prequisite</th>
                    <th>Major</th>
                    <th>Term</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
               @{
                   if(Model.Subjects == null){
                       <td>NotFound</td>
                   }else{
                        @foreach (var subject in Model.Subjects)
                        {
                        <tr>
                            <td>@subject.SubjectName</td>
                            <td>@subject.SubjectCode</td>
                            <td>@subject.NumOfCredit</td>
                                @{
                                    if (subject.SubjectPrequisiteNavigation == null)
                                    {
                                    <td></td>
                                    }
                                    else
                                    {
                                    <td>@subject.SubjectPrequisiteNavigation.SubjectName</td>
                                    }
                                }
                            <td>@subject.Major.MajorName</td>
                            <td>@subject.Term</td>
                            @{
                                if(subject.Status == true){
                                    <td class="text-success">Active</td>
                                }else{
                                    <td class="text-danger">InActive</td>
                                }
                            }
                            <td><a class="btn btn-outline-primary">Update</a></td>
                            <td><a class="btn btn-outline-info">Detail</a></td>
                            <td><a asp-page="/Admin/Subjects/Grades/Index" asp-route-subjectId="@subject.SubjectId" class="btn btn-outline-info">Grade Detail</a></td>
                           
                        </tr>
                        }
                   }
               }

            </tbody>
        </table>
    </div>

    <a asp-page="/Admin/Index">a</a>
</div>


    <script>
        function resetForm() {
            document.getElementById('SelectedMajorId').value = 0;
            document.getElementById('SelectedTerm').value = 0;
            document.getElementById('SelectedName').value = '';
        }
    </script>
